



.footer {
  background-color: #0a2850;
  color: #fff;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between; 
  position: relative;
  z-index: 2;
  min-height: 129px; 
}


.footer__column {
  justify-content: space-between; 
}

.footer__logo {
  width: 105px;
  height: 39px;
 
  margin-top: 20px;
}

.footer__social {
  
  margin-top: 20px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
  margin-bottom: 60px;
}

.footer__circle {
  position: absolute;
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 1;
  top: -128px;
  left: -44px;
}