.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px; 
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}