.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 80px;
}

.recipes__title {
  max-width: 580px; 
   font-family: "Inter";
 font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px; 
 font-family: "Noto Serif";
 font-style: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px; 
}

.recipes__videos {
  display: flex;
  gap: 40px; 
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px; 
  height: 273px; 
  border: none;
  margin-bottom: 24px; 
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}