

body {
  
  background-color: #f2f2f2; 
}

.page {
 
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff; 
  
  
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px; 
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 28px;
}

.header__span-accent {
  display: block;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 40px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 80px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 80px;
}

.recipes__title {
  max-width: 580px; 
   font-family: "Inter";
 font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px; 
 font-family: "Noto Serif";
 font-style: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px; 
}

.recipes__videos {
  display: flex;
  gap: 40px; 
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px; 
  height: 273px; 
  border: none;
  margin-bottom: 24px; 
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.reservation {
  background-color: #d9e7ff; 
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  padding: 100px 0 120px; 
  box-sizing: border-box;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal; 
  font-weight: 500; 
  font-size: 44px; 
  line-height: 52px; 
  text-align: center;
  margin: 0 auto 80px; 
}

.reservation__form {
  max-width: 385px; 
  margin: 0 auto; 
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  display: block; 
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500; 
  font-size: 16px; 
  line-height: 20px; 
  margin-bottom: 8px; 
}

.form__input {
  width: 100%; 
  box-sizing: border-box; 
  height: 60px; 
  padding: 0 15px; 
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal; 
  font-size: 20px; 
  line-height: 30px; 
  color: #000000;
  border: 1px solid #838383; 
  border-radius: 4px; 
  margin-bottom: 32px; 
}


.form__input[type="email"] {
  margin-bottom: 60px;
}


.form__input::placeholder {
  color: #838383; 
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input[type="datetime-local"] {
  color: #838383; 
}
.form__input[type="datetime-local"]:valid {
  color: #000000;
}

.form__button {
  width: 100%;
  height: 60px;
  background-color: #2f80ed; 
  color: #ffffff; 
  border: none;
  border-radius: 4px; 
  font-family: "Inter", Arial, sans-serif; 
  font-weight: 500; 
  font-size: 16px; 
  line-height: 20px; 
  margin-bottom: 32px; 
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7; 
}

.form__label_type_checkbox {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-bottom: 0; 
  font-weight: normal; 
}

.form__checkbox {
  appearance: none; 
  width: 20px; 
  height: 20px; 
  margin-right: 12px; 
  border-radius: 2px; 
  border: 1px solid #838383; 
  cursor: pointer;
}

.form__checkbox:checked {
  background-color: #2f80ed; 
  background-image: url("../images/check.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}