

body {
  
  background-color: #f2f2f2; 
}

.page {
 
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff; 
  
  
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px; 
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 28px;
}

.header__span-accent {
  display: block;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 40px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 80px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 80px;
}

.recipes__title {
  max-width: 580px; 
   font-family: "Inter";
 font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px; 
 font-family: "Noto Serif";
 font-style: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px; 
}

.recipes__videos {
  display: flex;
  gap: 40px; 
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px; 
  height: 273px; 
  border: none;
  margin-bottom: 24px; 
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}